<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kBLKPortType</key>
		<string>kOTMBeaconPortTypeConfiguration</string>
		<key>kBLKPortClassName</key>
		<string>OTMBeaconConfigurationPort</string>
	</dict>
	<dict>
		<key>kBLKPortType</key>
		<string>kOTMBeaconPortTypeIdentification</string>
		<key>kBLKPortClassName</key>
		<string>OTMBeaconIdentificationPort</string>
	</dict>
</array>
</plist>
